controllers:
  main:
    containers:
      tailscale:
        image:
          repository: tailscale/tailscale
          tag: latest
        env:
          TS_AUTHKEY:
            secretKeyRef:
              name: tailscale
              key: authkey
          RELAY_SERVER_PORT: 40000
        securityContext:
          capabilities:
            add: ["NET_ADMIN", "SYS_MODULE"]

secrets:
  tailscale:
    enabled: true
    annotations:
      helm.sh/resource-policy: keep
    stringData:
      authkey: "replace-me-im-example-auth-key"

service:
  main:
    ports:
      tailscale-relay:
        port: 40000
        protocol: UDP
        targetPort: 40000
